
/* MODAL SEARCH */

.filter-modal {
    background-color: #f2dcdd;
    color: #2741cc;
    width: 50px;
    margin-left: 7%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 18% 5%;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .filter-modal:hover {
    background-color: #2741cc;
    color: #f2dcdd;
  }
  
  .filter {
    height: 50px;
    width: 1000px;
  }
  
  .search-title {
    color: #2741cc;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
  }
  
  .form-search-input {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .max-min {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .max-min input {
    width: 33.5%;
    margin: 0 2%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1% 3%;
  }
  
  .label-search, .max-min label {
    color: #2741cc;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .mesures {
    line-height: 0.5;
  }
  
  .bottom-search {
    margin-top: 3%;
  }
  
  .bottom-search input {
    margin: 0 2%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1% 3%;
    width: 25%;
  }
  
  .top-search label {
    margin-right: 10px;
  }
  
  .top-search select {
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .search-btn {
    width: 100%;
    margin-top: 4%;
    font-size: 1rem;
    padding: 2% 5%;
    border: none;
    border-radius: 10px;
    color: #f2dcdd;
    background-color: #2741cc;
  }
  
  .search-btn:hover {
    color: #2741cc;
    background-color: white;
  }
  