/* PET CARD */

.flex-text-pet {
    display: flex;
    width: 320px;
    justify-content: space-between;
    color: #2741cc;
    font-weight: 600;
  }
  
  .status-pet {
    margin-right: 20%;
  }
  
  .photo-pet {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 5%;
  }